# Example (synthetic) data sets
For the purpose of this effort to create a common data shape on Glioblastoma, two synthetic data sets were provided. Synthetic datasets contain fabricated data that is represtable of actual data on the topic. 

In this chapter we will inspect the provided datasets and prepare them to by converted into linked data. As described earlier, linked data is data that follows a linked-data format consisting of triples where the individual parts consists of either values or identifiers (IRIs) pointing to concept definitions. 

The proces of converting data to linked data is rather straightforwards and can be summed up as follows:
1. Inspect the data
2. Clean the data headers
3. Align the data with common controlled vocabularies or ontologies
4. Design linked-data shapes using the IRIs from the controlled vocabularies and ontologies
5. Transform the data into RDF

In this chapter we will focus on the first two steps.

## Dataset 1 on Cotton
The first dataset is a provided csv file (Legacy_Cotton_VT_data.csv) ## TODO add a link.
It contains legacy data on cotton harvests.

In [2]:
import pandas as pd
gdb1 = pd.read_csv("data/Legacy_Cotton_VT_data.csv",index_col=False)
gdb1

/var/folders/85/6rr6j2113qx4d9synl4rnc9r0000gn/T/ipykernel_25698/3566679482.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  gdb1 = pd.read_csv("data/Legacy_Cotton_VT_data.csv",index_col=False)

,OBJECTID,LocationName,LatLong,Latitude,Longitude,City,County,State,Name,TestType,...,Strength,UI,Turnout,GrossIncome,Irrigated,IrrigationType,Year,ZIP Code,Test Result ID,Test ID
0,1,Ac Drip,32.7457 -101.9396,32.7457,-101.9396,Lamesa,Dawson,Texas,OVT - Irrigated,OVT,...,29.3,82.0,25.8,796.496,YesIrr,NotSpecified,2008,79331.0,46899,3126
1,2,Ac Drip,32.7457 -101.9396,32.7457,-101.9396,Lamesa,Dawson,Texas,OVT - Irrigated,OVT,...,28.1,81.2,23.8,705.159,YesIrr,NotSpecified,2008,79331.0,46900,3126
2,3,Ac Drip,32.7457 -101.9396,32.7457,-101.9396,Lamesa,Dawson,Texas,OVT - Irrigated,OVT,...,26.0,80.1,24.0,884.780,YesIrr,NotSpecified,2008,79331.0,46901,3126
3,4,Ac Drip,32.7457 -101.9396,32.7457,-101.9396,Lamesa,Dawson,Texas,OVT - Irrigated,OVT,...,27.8,81.8,24.2,733.869,YesIrr,NotSpecified,2008,79331.0,46902,3126
4,5,Ac Drip,32.7457 -101.9396,32.7457,-101.9396,Lamesa,Dawson,Texas,OVT - Irrigated,OVT,...,27.2,81.4,27.9,972.725,YesIrr,NotSpecified,2008,79331.0,46903,3126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43469,43470,Yuma County,32.8257 -113.52519,32.8257,-113.5252,NaN,Yuma,Arizona,OVT - Irrigated,OVT,...,27.5,82.8,33.1,950.982,YesIrr,NotSpecified,2008,85333.0,30074,2196
43470,43471,Yuma County,32.8257 -113.52519,32.8257,-113.5252,NaN,Yuma,Arizona,OVT - Irrigated,OVT,...,28.6,82.4,34.8,922.315,YesIrr,NotSpecified,2008,85333.0,30075,2196
43471,43472,Yuma County,32.8257 -113.52519,32.8257,-113.5252,NaN,Yuma,Arizona,OVT - Irrigated,OVT,...,28.3,82.8,32.4,817.002,YesIrr,NotSpecified,2008,85333.0,30076,2196
43472,43473,Yuma County,32.8257 -113.52519,32.8257,-113.5252,NaN,Yuma,Arizona,OVT - Irrigated,OVT,...,28.2,83.2,29.6,816.542,YesIrr,NotSpecified,2008,85333.0,30077,2196
43473,43474,Yuma County,32.8257 -113.52519,32.8257,-113.5252,NaN,Yuma,Arizona,OVT - Irrigated,OVT,...,30.0,82.3,33.1,775.964,YesIrr,NotSpecified,2008,85333.0,30078,2196

In [5]:
set(gdb1.LintFraction.tolist())

{0.25,
 0.375,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.218,
 0.436,
 0.311,
 0.343,
 0.468,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.404,
 0.279,
 0.247,
 0.372,
 0.497,
 0.561,
 0.529,
 0.215,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.34,
 0.465,
 0.308,
 0.433,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.244,
 0.369,
 0.494,
 0.558,
 0.276,
 0.401,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.212,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.18,
 0.43,
 0.305,
 0.337,
 0.462,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.273,
 0.523,
 0.398,
 0.241,
 0.366,
 0.491,
 0.555,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.209,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.459,
 0.334,
 0.427,
 0.302,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.27,
 0.395,
 1.924,
 0.238,
 0.363,
 0.488,
 1.741,
 2.241,
 1.892,
 0.552,
 0.206,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.456,
 0.331,
 0.299,
 0.424,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.392,
 0.267,
 0.36,
 0.235,
 0.485,
 0.549,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.453,
 0.328,
 0.296,
 0.421,
 0.203,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.546,
 0.264,
 0.389,
 0.514,
 0.357,
 0.482,
 0.232,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.45,
 0.325,
 0.2,
 0.293,
 0.418,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.543,
 0.511,
 0.386,
 0.261,
 0.354,
 0.479,
 0.229,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.447,
 0.322,
 0.29,
 0.415,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.258,
 0.351,
 0.476,
 1.755,
 0.54,
 0.569,
 0.383,
 0.508,
 0.226,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.287,
 0.412,
 0.444,
 0.319,
 0.194,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.255,
 0.38,
 0.505,
 0.348,
 0.473,
 0.537,
 0.566,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.223,
 0.441,
 0.316,
 0.284,
 0.409,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.252,
 0.345,
 0.47,
 0.563,
 0.377,
 0.502,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.22,
 nan,
 nan,
 0.313,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.438,
 0.249,
 0.374,
 0.499,
 0.281,
 0.406,
 0.217,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.31,
 0.185,
 0.435,
 0.342,
 0.467,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.371,
 0.496,
 1.871,
 0.246,
 0.278,
 0.403,
 0.528,
 0.56,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.214,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.432,
 0.307,
 0.339,
 0.464,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.557,
 0.243,
 0.368,
 0.493,
 0.275,
 0.4,
 0.525,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.211,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.304,
 0.429,
 0.336,
 0.461,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.365,
 0.49,
 0.24,
 0.272,
 0.397,
 0.522,
 0.208,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.301,
 0.426,
 0.458,
 0.333,
 0.269,
 0.394,
 0.237,
 0.487,
 0.362,
 0.205,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.455,
 0.33,
 0.423,
 0.298,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.251,
 0.376,
 0.501,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.266,
 0.484,
 0.577,
 2.231,
 0.391,
 0.359,
 2.013,
 0.548,
 0.516,
 0.234,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.42,
 0.295,
 0.452,
 0.327,
 0.17,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.545,
 0.356,
 0.574,
 0.263,
 0.388,
 0.481,
 0.231,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.449,
 0.292,
 0.417,
 0.324,
 0.199,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.353,
 0.26,
 0.385,
 1.914,
 0.571,
 0.51,
 0.478,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.228,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.289,
 0.414,
 0.446,
 0.321,
 0.196,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.539,
 0.35,
 0.475,
 0.257,
 0.382,
 0.507,
 2.224,
 0.225,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.443,
 0.411,
 0.286,
 0.318,
 0.193,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.347,
 0.472,
 0.536,
 0.254,
 0.379,
 0.504,
 0.565,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.222,
 0.323,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.408,
 0.315,
 0.283,
 0.44,
 0.19,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...}

In [4]:
gdb1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43474 entries, 0 to 43473
Data columns (total 40 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            43474 non-null  int64
 1   LocationName        43474 non-null  object
 2   LatLong             43474 non-null  object
 3   Latitude            43474 non-null  float64
 4   Longitude           43474 non-null  float64
 5   City                29623 non-null  object
 6   County              43474 non-null  object
 7   State               43474 non-null  object
 8   Name                43474 non-null  object
 9   TestType            43474 non-null  object
 10  EntryNumber         43474 non-null  int64
 11  Brand               43474 non-null  object
 12  Trait               43473 non-null  object
 13  Product             43474 non-null  object
 14  Soil                32971 non-null  object
 15  Tillage             32971 non-null  object
 16  PlantingDate        11914 non-null  float64
 17  HarvestDate         11743 non-null  object
 18  ValuePerac          43474 non-null  float64
 19  SeedingRatePerAcre  836 non-null    float64
 20  PercentBollOpened   1235 non-null   float64
 21  StormTolerance      595 non-null    float64
 22  Yield               43474 non-null  int64
 23  Elongation          11341 non-null  float64
 24  HVIColor            43474 non-null  int64
 25  Leaf                43474 non-null  int64
 26  Length              38837 non-null  float64
 27  LintFraction        42391 non-null  float64
 28  LoanValue           38761 non-null  float64
 29  Mic                 39394 non-null  float64
 30  Strength            39364 non-null  float64
 31  UI                  39330 non-null  float64
 32  Turnout             42391 non-null  float64
 33  GrossIncome         43474 non-null  float64
 34  Irrigated           43474 non-null  object
 35  IrrigationType      17429 non-null  object
 36  Year                43474 non-null  int64
 37  ZIP Code            32971 non-null  float64
 38  Test Result ID      43474 non-null  int64
 39  Test ID             43474 non-null  int64
dtypes: float64(17), int64(8), object(15)
memory usage: 13.3+ MB

This dataset contains 26 fields of various datatypes. In one of the next steps this field names will be alligned with various controlled vocabularies and ontologies. For this to be succesful the fieldnames need to be as expressive as it can be.

In [5]:
def show_difference(row):
    highlight = 'background-color: yellow;'
    default = ''
    if row['original_field'] != row['prepared_field']:
        return [default, highlight]
    else:
        return [default, default]
    
def strip_check(row):
    if row['original_field'] != row['prepared_field']:
        row["change"] = "remove trailing spaces"
        
def abbreviations(row):
    if row['original_field'] != row['prepared_field']:
        if row["change"] == "":
            row["change"] = "resolved abbreviations"
            
def removechoices(row):
    if row['original_field'] != row['prepared_field']:
        if row["change"] == "":
            row["change"] = "removed choices"

df = pd.DataFrame(columns=["original_field", "prepared_field", "change"])
for column in gdb1.columns: 
    df.loc[len(df.index)] = [column, column.strip(), ""]
    
df.apply(strip_check, axis=1)
    
df['prepared_field'] = df['prepared_field'].str.replace('adj','adjuvant')
df['prepared_field'] = df['prepared_field'].str.replace('months OS','months overall survival')
df['prepared_field'] = df['prepared_field'].str.replace('PP','pseudo-progression')
df['prepared_field'] = df['prepared_field'].str.replace('PFS','progression-free survival')

df.apply(abbreviations, axis=1)
         
df['prepared_field'] = df['prepared_field'].str.replace('(1=yes 0=no)','', regex=False)
df.apply(removechoices, axis=1)
 
df.style.set_properties(**{'text-align': 'left'})
df.style.apply(show_difference, subset=['original_field', 'prepared_field'], axis=1)

In this chapter we have reviewed and possibly cleaned the source data. In the next chapter these terms will be use to identify IRIs that unambiguously point to the definitions of these field labels. In this stage of the project we need to be a bit creative here. Some crucial information such as conditionals or units have been removed, but these are needed in the semantic models that will be derived.

Moving forward the project should design a common tabular format that, next to field labels, also captures these conditionals, units and cardinality. 

Eventually this book should contain a chapter that describes this tabular format. 

Eventually the steps described in this chapter will be redundant. Moving forward performers in the different PDAs, ideally will build on a predefined tabular format where the field names are selected from the provided codebook. 

## NALT shapes and  codebook
The DT codebook will be a listing of selected field names. Data curators will be able to select field names from this codebook. Non-existing field names can be requested.